
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>グラブル救援ツイ消しツール</title>
  <link rel="shortcut icon" href="favion.ico" type="image/ico">
  <link rel="stylesheet" href="static/css/style.css?20210729">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Iceland|Lobster|Megrim|Mountains+of+Christmas|Oleo+Script|Playball|Poiret+One|Unica+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <section class="header-logo">グラブル救援ツイ消しツール</section>
  </div>

  <div class="main">
    <div class="main-visual">
      <!--div class="imgvisual">aaaa</div-->
    </div>
    <div class="contents">
      {% if is_verified == True %}
      <section class="section" id="section_setting">
        <div class="section-title-block">
          <h2 class="section-title">設定</h2>
        </div>
        <div class="section-main-block">
          <p>{{ name }}({{ screen_name }})さん、認証完了しました</p>
          <form action="/setting" method="post" class="setting">
            <label for="name"></label>
            <h3 class="section-subtitle">ツイ消し機能</h3>
            {% if work == 'running' %}
            <div>
              <input type="radio" id="running" name="work" value="running" checked>
              <label for="running">稼働</label>
            </div>
            <div>
              <input type="radio" id="stop" name="work" value="stop">
              <label for="stop">停止</label>
            </div>
            {% else %}
            <div>
              <input type="radio" id="running" name="work" value="running">
              <label for="running">稼働</label>
            </div>
            <div>
              <input type="radio" id="stop" name="work" value="stop" checked>
              <label for="stop">停止</label>
            </div>
            {% endif %}

            <div>
              <h3 class="section-subtitle">削除待機時間</h3>
              <p>
                ツイートしてから削除するまでの時間を指定できます．
                <br>極端に短いと救援に来てくれる人が減り、長いとキャッシュに残る可能性が上がります．
                <br>また最長5分の誤差があります.
              </p>
              <input id="deletetime" name="deletetime" type="range" min="10" max="90" step="10" value="{{ delete_time }}">
              <span id="deletetime_value">{{ delete_time }}</span>
            </div>

            <div>
              <h3 class="section-subtitle">削除単語</h3>
              <p>
                削除するツイートを選べます．
                <br>フリーワードをオンにすると削除する単語を指定できます．
              </p>

              {% if deleteword_id == 1 %}
              <div>
                <input type="checkbox" id="deleteword_id" name="deleteword_id" checked>
                <label for="deleteword_id">参戦ID</label>
              </div>
              {% else %}
              <div>
                <input type="checkbox" id="deleteword_id" name="deleteword_id">
                <label for="deleteword_id">参戦ID</label>
              </div>
              {% endif %}

              {% if deleteword_rpg == 1 %}
              <div>
                <input type="checkbox" id="deleteword_rpg" name="deleteword_rpg" checked>
                <label for="deleteword_rpg">AP・BP全回復</label>
              </div>
              {% else %}
              <div>
                <input type="checkbox" id="deleteword_rpg" name="deleteword_rpg">
                <label for="deleteword_rpg">AP・BP全回復</label>
              </div>
              {% endif %}

              {% if deleteword_free == 1 %}
              <div>
                <input type="checkbox" id="deleteword_free" name="deleteword_free" checked>
                <label for="deleteword_free">フリーワード</label>
              </div>
              {% else %}
              <div>
                <input type="checkbox" id="deleteword_free" name="deleteword_free">
                <label for="deleteword_free">フリーワード</label>
              </div>
              {% endif %}

            </div>

            <div>
              <h3 class="section-subtitle">フリーワード設定</h3>
              <p>
                4字以上100字以下
              </p>

              <input type="text" id="deleteword_free_text" name="deleteword_free_text" value="{{ deleteword_free_text_pre }}" placeholder="4字以上100字以下" required minlength="4" maxlength="100" size="100">

            </div>
    
            <button type="submit" class="submit">設定を保存</button>
          </form>

        </div>
        <div class="section-title-block">
          <h2 class="section-title">連携解除</h2>
        </div>
        <div class="section-main-block">
          
          <form action="/delete" method="post" class="setting" onSubmit="return checkDelete()">
            <p>必要なくなれば連携を解除してください</p>
            <button type="submit" id="delete_button" class="submit">連携解除</button>
          </form>
          

        </div>
      </section>
      <p></p>
      {% else %}
      <p>無効な遷移です</p>
      {% endif %}
      
      <p></p>
      <p></p>
      <a href="/">トップに戻る</a>
      
    </div>
  </div>

  <div class="footer">
    <div id="footer-contact">
      <p class=contact-index align="center">contact</p>
      <ul class="contact-list">
        <li class="list-content">
          <a href="https://twitter.com/y_omo_gi" target="_blank">
            <img class="twiimgicon" src="static/images/twittericon.png" alt="y_omo_gi" width=185 height=160>
            twitter(@y_omo_gi)
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">Copyright©2021 y_omo_gi</div>
    <!--<div class="footer-logo">YwoY_Portfolio</div>-->
  </div>
</body>
</html>

<script>
  function checkDelete() {
    return confirm("登録情報が削除されますがよろしいですか");
  }
  var elem = document.getElementById('deletetime');
  var target = document.getElementById('deletetime_value');
  var rangeValue = function (elem, target) {
    return function(evt){
      target.innerHTML = elem.value;
    }
  }
  elem.addEventListener('input', rangeValue(elem, target));
</script>
